<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <hr>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">change</a>
    </div>

    

    <br>
    <br>
    <br>
    <hr>
    <% if @user.paid? %>
      <p>You are on the paid tier.</p>
    <% else %>
      <p>You are on the free tier.</p>
      <button id="checkout-button" class="btn btn-primary">Upgrade to Paid Tier</button>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'https://js.stripe.com/v3/' %>
<script type="text/javascript">
  var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

  document.getElementById("checkout-button").addEventListener("click", function () {
    stripe.redirectToCheckout({
      sessionId: '<%= @stripe_session.id %>'
    }).then(function (result) {
      if (result.error) {
        alert(result.error.message);
      }
    });
  });
</script>