<!-- app/views/settings/show.html.erb -->

<h1>User Settings</h1>
<%= link_to 'Edit Settings', edit_settings_path %>

<!-- Add sections for current settings -->
<p><strong>Name:</strong> <%= current_user.name %></p>
<p><strong>Email:</strong> <%= current_user.email %></p>
<% if @subscription_active %>
  <p>Your subscription is currently active.</p>
  <%= button_to "Cancel Subscription", cancel_subscription_payments_path, method: :post %>
<% else %>
  <p><%= flash[:warning] %></p>
  <p>You are not subscribed to the Premium Service.</p>
  <%= button_to "Pay $10 for Premium Service", create_session_payments_path %>
<% end %>
